* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  overflow: hidden;
}

.sky {
  background-color: rgba(0, 132, 240, 0.966);
  width: 100%;
  height: 600px;
  position: absolute;
  -webkit-animation: sky 10s 4s infinite;
          animation: sky 10s 4s infinite;
}
@-webkit-keyframes sky {
  0% {
    background-color: rgba(0, 132, 240, 0.966);
  }
  50% {
    background-color: rgb(8, 8, 8);
  }
  100% {
    background-color: rgba(0, 132, 240, 0.966);
  }
}
@keyframes sky {
  0% {
    background-color: rgba(0, 132, 240, 0.966);
  }
  50% {
    background-color: rgb(8, 8, 8);
  }
  100% {
    background-color: rgba(0, 132, 240, 0.966);
  }
}

.sun {
  background-color: #daa520;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: 50px;
  box-shadow: -1px -7px 50px 0px rgb(218, 165, 32);
  -webkit-animation: sun 10s 5s infinite none;
          animation: sun 10s 5s infinite none;
}
@-webkit-keyframes sun {
  0% {
    top: 1000px;
  }
  40% {
    top: 50px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 1000px;
  }
  60% {
    top: 50px;
  }
  40% {
    top: 50px;
  }
  0% {
    top: 1000px;
  }
}
@keyframes sun {
  0% {
    top: 1000px;
  }
  40% {
    top: 50px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 1000px;
  }
  60% {
    top: 50px;
  }
  40% {
    top: 50px;
  }
  0% {
    top: 1000px;
  }
}

.ground {
  position: relative;
  background-color: #492e0e;
  width: 100%;
  height: 200px;
  top: 800px;
}

.grass {
  background-color: lime;
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 200px;
}

.road {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: rgb(94, 94, 94);
  bottom: 260px;
}

.car {
  position: absolute;
  bottom: 50px;
  left: 500px;
  width: 260px;
  height: 100px;
  background-color: tomato;
  border-radius: 15px;
  -webkit-animation: car 8s ease-in infinite;
          animation: car 8s ease-in infinite;
}
.car .wheels {
  position: absolute;
  bottom: 0;
  border: 3px dashed #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  -webkit-animation: wheels 2s infinite linear;
          animation: wheels 2s infinite linear;
}
.car .front-wheel {
  right: 0;
  bottom: -10px;
  z-index: 2;
}
.car .rear-wheel {
  bottom: -10px;
}
@-webkit-keyframes car {
  from {
    left: -100px;
  }
  to {
    left: 2100px;
  }
}
@keyframes car {
  from {
    left: -100px;
  }
  to {
    left: 2100px;
  }
}
@-webkit-keyframes wheels {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wheels {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.car::after, .car::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 50px;
  background-color: tomato;
}

.car::after {
  right: -20px;
  border-top-right-radius: 10px;
}

.car::before {
  left: -20px;
}

.window {
  position: absolute;
  top: 5px;
  width: 70px;
  height: 50px;
  background-color: blue;
}

.front-window {
  right: 0;
  z-index: 1;
  border-top-right-radius: 10px;
}

.rear-window {
  left: 0;
  border-top-left-radius: 10px;
}/*# sourceMappingURL=main.css.map */